main{
    display: flex;
    margin-top: 10px;
    overflow: hidden;
    height: 970px;
}
.dashboard
{
    height:1024px;
}
.dashboard
{
    margin-left: 278px;
    width:1091px;
    background-color: #F5F5F5;
}
.statistics
{
    height:350px;
}