.statistics #cars
{
    width:50%;
    background-color: white;
    overflow: hidden;
}
.statistics #cars h4
{
font-size: 20px;
color:#242731;
}
.statistics #cars p
{
   font-size: 18px;
   line-height: 18.23px;
}